=breadcrumb_tag do
  %li
    = link_to 'Клиенты', clients_path
  %li
    Администрирование
  %li.active
    = t('app.clients.edit')
  %li
    = link_to(@client.id, @client)
    
.page-header
  %h1= t('app.clients.edit')

= render 'form'
