=breadcrumb_tag do
  %li.active
    = t('app.clients.edit')
  %li
    = link_to(@client.id, @client)
    
%h1= t('app.clients.edit')

= render 'form'

= link_to 'Показать', @client
\|
= link_to 'Назад', clients_path
