=breadcrumb_tag do
  %li
    = link_to 'Клиенты', clients_path
  %li
    Администрирование
  %li.active
    = @client.name
        
%h1
  = @client.name

%dl
  %dt= Client.human_attribute_name(:name)
  %dd= @client.name
  %dt= Client.human_attribute_name(:phone_number)
  %dd= @client.phone_number
  %dt= Client.human_attribute_name(:address)
  %dd= @client.address
  %dt= Client.human_attribute_name(:email)
  %dd= @client.email
