= form_for @order do |f|
  =error_messages_for @order
  / = f.hidden_field(:client_id)
  .row
    .col-md-3
      .panel.panel-success
        .panel-heading 
          Клиент
        .panel-body
          .row
            .col-md-10
              .form-group
                = f.label :'Клиент'
                = f.select(:client_id, options_for_select(Client.all.pluck('id, id').unshift(nil), f.object.client_id), 
            {}, class: 'form-control')
        = f.error_messages_for(:client_id)
  .row
    .col-md-10
      .panel.panel-success
        .panel-heading 
          Заказ
        .panel-body
          .col-md-3
            .form-group
              = f.label :number
              = f.number_field :number, class: 'form-control'
              = f.error_messages_for(:number)
          .col-md-2
            .form-group
              = f.label :pay_method
              = f.select :pay_method, ['Безналичный расчёт', 'Наличными курьеру'], class: 'form-control'
              = f.error_messages_for(:pay_method)
          .col-md-2
            .form-group
              = f.label :delivery_method
              = f.select :delivery_method, ['Курьером', 'Самовывоз', 'Почтой'], class: 'form-control'
              = f.error_messages_for(:delivery_method)
          .col-md-6
            .form-group
              = f.label :product_list
              = f.text_area :product_list, class: 'form-control'
              = f.error_messages_for(:product_list)
          .col-md-3
            .form-group
              = f.label :cost_of_products
              = f.text_area :cost_of_products, class: 'form-control'
              = f.error_messages_for(:cost_of_products)
          .col-md-3
            .form-group
              = f.label :total_cost
              = f.number_field :total_cost, class: 'form-control'
              = f.error_messages_for(:total_cost)
          .col-md-3
            .form-group
              = f.label :date_of_order
              .input-group.date.datepicker
                = f.text_field(:date_of_order, value: lnil(f.object.date_of_order),
                class: 'form-control')
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar
              = f.error_messages_for(:date_of_order)
        

  = f.fields_for :clients_attributes do |fr|
    .row
      .col-md-6
        .panel.panel-success
          .panel-heading 
            Создать нового клиента
          .panel-body
            .row
              .col-md-6
                .form-group
                  = fr.label :Имя
                  = fr.text_field :name, class: 'form-control'
              .col-md-6
                .form-group
                  = fr.label :Телефонный_номер
                  = fr.text_field :phone_number, class: 'form-control'
              .col-md-6
                .form-group
                  = fr.label :Адресс
                  = fr.text_field :address, class: 'form-control'
              .col-md-6
                .form-group
                  = fr.label :Электронная_почта
                  = fr.text_field :email, class: 'form-control'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
