=breadcrumb_tag do
  %li
    = link_to 'Заказы', orders_path
  %li
    Администрирование
  %li.active
    = t('app.orders.edit')
  %li
    = link_to(@order.id, @order)
  
.page-header
  %h1= t('app.orders.edit')

= render 'form'
