=breadcrumb_tag do
  %li
    = link_to 'Заказы', orders_path
  %li
    Администрирование
  %li.active
    = @order.id
    
%h1
  = @order.id
  
%dl
  %dt= Order.human_attribute_name(:client)
  %dd= @order.client_id
  %dt= Order.human_attribute_name(:number)
  %dd= @order.number
  %dt= Order.human_attribute_name(:pay_method)
  %dd= @order.pay_method
  %dt= Order.human_attribute_name(:delivery_method)
  %dd= @order.delivery_method
  %dt= Order.human_attribute_name(:product_list)
  %dd= @order.product_list
  %dt= Order.human_attribute_name(:cost_of_products)
  %dd= @order.cost_of_products
  %dt= Order.human_attribute_name(:total_cost)
  %dd= @order.total_cost
  %dt= Order.human_attribute_name(:date_of_order)
  %dd= @order.date_of_order
  
    
