=breadcrumb_tag do
  %li.active
    = t('app.products.edit')
  %li
    = link_to(@product.id, @product)
    
%h1= t('app.product.edit')


= render 'form'

= link_to 'Показать', @product
\|
= link_to 'Назад', products_path
