=breadcrumb_tag do
  %li.active
    = @order.id
  %li
    = link_to 'Заказы', orders_path
  %li
    Администрирование
    
%h1
  = @order.id
  
%dl
 %dt= Product.human_attribute_name(:name)
  %dd= @product.name
  %dt= Product.human_attribute_name(:short_desc)
  %dd= @product.short_desc
  %dt= Product.human_attribute_name(:full_desc)
  %dd= @product.full_desc
  %dt= Product.human_attribute_name(:img_id_list)
  %dd= @product.img_id_list
  %dt= Product.human_attribute_name(:base_price)
  %dd= @product.base_price
  %dt= Product.human_attribute_name(:current_price)
  %dd= @product.current_price
  %dt= Product.human_attribute_name(:amt_in_stock)
  %dd= @product.amt_in_stock
  %dt= Product.human_attribute_name(:ven_code)
  %dd= @product.ven_code
  %dt= Product.human_attribute_name(:min_amt_in_order)
  %dd= @product.min_amt_in_order
